<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3">
    <div class="col-lg-7">
        <h1 class="display-4 fw-bold lh-1">Raul Antonio Chavez Aguirre</h1>
        <p class="lh-base">Hey there! I'm Raúl Chávez, and I'm all about tech. I get a kick out of web development,
            diving into computer networks, and geeking out over embedded systems.
            <br>
            My time is split between crafting web pages, constantly hunting for new knowledge, tackling tech
            challenges, and indulging my love for video games. I'm known for picking up things fast and rocking the
            teamwork, because I believe that shared knowledge is key to success.
            <br>
            Hailing from Mexico, I'm currently living it up in the lively city of Guadalajara, where I keep chasing
            my tech dreams and contributing to the digital world. I'm always ready to dive into exciting projects
            and keep learning on this wild tech journey!
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <a type="button" href="https://www.linkedin.com/in/raul-antonio-chavez-aguirre-26247b218/" target="blank_"
                class="btn btn-outline-secondary btn-lg px-4"><i class="bi bi-linkedin"></i></a>
            <a type="button" href="https://github.com/xXChAvE2Xx" target="blank_"
                class="btn btn-outline-secondary btn-lg px-4"><i class="bi bi-github"></i></a>
            <a type="button" href="https://drive.google.com/uc?export=download&id=1gH-SKvBOe-F-jWq3j4G3_WY7AotRmu0O"
                target="blank_" class="btn btn-outline-secondary btn-lg px-4"> CV &nbsp;<i
                    class="bi bi-file-earmark-arrow-down"></i></a>
        </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
        <img class="rounded-lg-3" src="../../assets/img/pic1.jpg" alt="" height="400" width="400">
    </div>
</div>